<div class="container-fluid d-flex flex-column flex-grow-1 justify-content-center align-items-center" id="mainContent">
    <div hidden="True">
        <input id="user" type="hidden" name="user" value="{{ username }}"/>
    </div>
    <script src="../js/homepage.js"></script>

    <h1 class="text-white">Mucke</h1>
    <p class="text-white">With Mucke you can review and rate music together with your friends.</p>
    <p></p>

    <h2 class="text-white">How it works:</h2>
    <p class="text-white">1. Start a new review or join one.</p>
    <p class="text-white">2. Select an album for the review, every participant gets to choose one.</p>
    <p class="text-white">3. Add friends to the review.</p>
    <p class="text-white">4. Rate all albums, you can see the results in your library.</p>

</div>