<div id="mainContent" class="container-fluid d-flex justify-content-center">
    <div hidden="true" id="data">
        <input type="hidden" name="user" id="user" value="{{ userName }}">
    </div>

    <div class="col-md-8">
        <div class="card text-bg-primary m-2 d-flex flex-grow-1">
            <h1 class="card-title m-1">Your Albums</h1>
            <div class="list-group m-2 d-flex flex-grow-1">
                
                {% for review in reviews %}
                <div class="list-group-item m-1 d-flex align-items-center">
                    <div class="card text-bg-white d-flex flex-grow-1 border-0">
                        <h2 class="card-title">{{ review.album.title }}</h2>

                        {% for user in review.scores.keys() %}
                        <p class="card-text">{{ user.name }}: {{ review.scores[user].score }}/10</p>
                        {% endfor %}

                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>

</div>