<link href="../css/newReview.css" rel="styleshet">

<div id="mainContent"
     class="container-fluid d-flex flex-grow-1 flex-column">

    <div hidden="true" id="data">
        <input type="hidden" id="processID" name="processID" value="{{ review_process.id }}"/>
        <input id="user" type="hidden" name="user" value="{{ username }}"/>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">

            <div class="list-group list-group-horizontal p-3">
                <button class="list-group-item text-bg-primary"
                        data-bs-toggle="collapse"
                        data-bs-target="#addUserCollapse"
                        aria-expanded="false"
                        aria-controls="addUserCollapse">
                        +
                </button>

                {% for user in review_process.participants %}
                <div class="list-group-item text-bg-light">{{ user.name }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-sm-5 collapse collapse-horizontal" id="addUserCollapse">
            <div class="card p-2 text-bg-primary">
                    <div hidden="true" id="userList"></div>

                <form>
                    <label for="userNameInput" class="form-label p-2">
                        Username
                    </label>
                    <input type="search" 
                            class="form-control" 
                            id="userNameInput"
                            name="name"
                            hx-post="/search-users"
                            hx-target="#userList"
                            hx-trigger="input changed delay:500ms"
                            hx-swap="outerHTML">
                </form>
                
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <button class="carousel-control-prev" type="button" data-bs-target="#albumCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <div id="albumCarousel" class="carousel slide m-3 w-auto">
            <div class="carousel-inner">

                {% for album_review in review_process.reviews %}
                <div class="carousel-item active">                    
                    <div class="card text-bg-primary">
                        <div class="card-body m-2 position-relative">
                            <h4 class="card-title p-2">{{ album_review.album.title }}</h4>
                            <p class="card-text p-2">Suggested By: {{album_review.suggested_by.name}}</p>
                            <button class="btn btn-light position-absolute end-0 bottom-0"
                                    hx-get="/album-review/{{ album_review.id }}"
                                    hx-target="#mainContent"
                                    hx-swap="outerHTML">
                            Review</button>
                        </div>
                    </div>                  
                </div>
                {% endfor %}

            </div>
        </div>

        <button class="carousel-control-next" type="button" data-bs-target="#albumCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>