<div id="mainContent"
     class="container-fluid d-flex flex-column flex-grow-1">

    <div class="row container-fluid d-flex flex-grow-1 align-items-center justify-content-center">
        <div class="col-md-5">
            <form id="albumPick">
                <label for="albumInput" class="form-label m-1 text-white">Album</label>
                <input type="text" id="albumInput" name="albumInput" class="form-control">

                <label for="artistInput" class="form-label m-1 text-white">Artist</label>
                <input type="text" id="artistInput" name="artistInput" class="form-control">
            </form>
        </div>
    </div>

    <div class="row p-2 d-flex justify-content-center align-items-center">
    <div class="col-sm-4 d-flex justify-content-center">
        <button class="btn btn-primary"
                hx-post="/review"
                hx-target="#mainContent"
                hx-swap="outerHTML"
                hx-include="albumPick">
            Start Review
        </button>
    </div>
    </div>

</div>
