<div class="list-group overflow-auto m-2" style="max-height: 200px;">

    <div id="userList">

        {% for user in users %}
        <div class="list-group-item position-relative">
            <input type="hidden" id="userName" name="userName" value="{{ user.name }}"/>
            {{ user.name }}
            <button class="btn btn-sm btn-primary m-1 position-absolute top-0 end-0"
                    hx-post="/add-user-to-review"
                    hx-target="#mainContent"
                    hx-swap="outerHTML"
                    hx-include="#userName, #processID">
                +
            </button>
        </div>
        {% endfor %}

    </div>

</div>