.rating-input {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

svg {
  fill: currentColor !important;
  height: 2em;
  width: 2em;
}

svg:not(label:has(.rating-input:checked) ~ label:has(svg) svg) {
    fill: #060908 !important;
}